:root{
    --azul:#134074;
    --rosa:#eb7b47;
    --coral:#de5617;
    --negro:rgba(0, 0, 0, 0.869);
    --fuente:'Quicksand', sans-serif;
}
html{
    box-sizing:content-box;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
    background: cornflowerblue;
    padding: 20px;
    width: 100ch;
}

body{
    font-family: var(--fuente);
    background-color: var(--rosa);
    display: flex;
    align-items: left;
    --coral:#eb7b47;
    margin-left: 6cm;
    margin-top: 1cm;
}

.contenedor-formulario contenedor{
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}

.imagen-formulario{
    background-position: left ;
    height: 100vh;
    width: auto;
    position:relative;
    
}
.imagen-formulario::before{
   content: '';
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 100px;

   
}

@media(min-width:768px){
    .imagen-formulario{
        height: auto;
        background-position: left;
    }

}
@media(min-width:1200px){
    .imagen-formulario{
        background-position: left;
    }
}

@media(min-width:768px){
    .contenedor-formulario{
        display: flex;
    }
}

.formulario{
    padding: 40px;
    background-color: #fbfff1;
}
.texto-formulario h2,  .texto-formulario p{
    color: var(--negro);
    align-items: center;
}
.texto-formulario h2{
    font-size: 30px;
   
}
.texto-formulario p{
    font-size: 22px;
    text-align: center;
}
.input label{
    display: block;
    font-size: 22px;
    font-weight: bold;
    margin: 20px }

.input input {
    width: 90%;
    padding: 10px 16px;
    border-radius: 5px;
    border-color: #eb7b47;
    outline: none;
    margin-right: 2px;
}
.input input[type="submit"]{
    background-color: var(--coral);
    color: var(--negro);
    font-size: 22px;
    font-weight: bold;
    border: none;
    margin-top: 20px;
    padding: 15px;
    text-align: center;
    transition: background-color .3s ease-in-out;
}
.input input[type="submit"]:hover{
    cursor: pointer;
    background-color: #eb7b47;
}

.input a {
    width: 100%;
    padding: 10px 16px;
    border-radius: 5px;
    border-color: #eb7b47;
    outline: none;
    margin-right: 2px;
}
.input a[class="ingresar"]{
    background-color: var(--coral);
    color: var(--negro);
    font-size: 22px;
    font-weight: bold;
    border: none;
    margin-top: 20px;
    padding: 15px;
    text-align: center;
    transition: background-color .3s ease-in-out;
}
.input a[class="ingresar"]:hover{
    cursor: pointer;
    background-color: #eb7b47;
}
